<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Araperful | Perfumes Premium</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    
    <header>
        <nav>
            <h1>Araperful Perfumes</h1>
            <ul>
                <li><a href="/products">Catálogo</a></li>
                </ul>
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>

    <footer>
        <p>© 2026 Araperful - Proyecto Final Backend</p>
    </footer>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>

</body>
</html>